################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APINetBorker/bin/Debug/net7.0
/APINetBorker/obj/Debug/net7.0
/APINetBorker/obj
/Core/bin/Debug/net7.0
/Core/obj/Debug/net7.0
/Core/obj
/Domain/bin/Debug/net7.0
/Domain/obj/Debug/net7.0
/Domain/obj
/Infrastructure/bin/Debug/net7.0
/Infrastructure/obj/Debug/net7.0
/Infrastructure/obj
/.vs/APINetBorker/FileContentIndex
/UnitTest/bin/Debug/net7.0
/UnitTest/obj
/.vs/APINetBorker/v17/TestStore/0
/.vs/APINetBorker/v17/.futdcache.v2
/.vs/APINetBorker/DesignTimeBuild/.dtbcache.v2
/.vs/APINetBorker/v17/.suo
*.txt
/.vs/ProjectEvaluation/apinetborker.metadata.v6.1
/.vs/ProjectEvaluation/apinetborker.projects.v6.1
/APINetBorker/LocalDatabase.db
/NetBrokerOpenIddict/bin/Debug/net7.0
/APINetBorker/LocalDatabase.db-wal
/APINetBorker/LocalDatabase.db-shm
/NetBrokerOpenIddict/obj
/NetBrokerDatabase.db
